.ehunter_checkbox_container {
  display: block !important;
  padding: 5px;
  margin: -15px 0 5px 0;
  border-radius: 3px;
  background-color: #fafafa;
  border: 1px solid #ddd;
  width: 38px;
  cursor: pointer;
  -webkit-transition: all .1s ease-in;
  -moz-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  transition: all .1s ease-in;
}

.ehunter_checkbox_container:hover {
  display: block !important;
  border: 1px solid #d5d5d5;
  box-shadow: 0 1px 3px rgba(0,0,0,0.07);
}

.ehunter_checkbox_icon {
  height: 16px;
  margin: 0 7px 0 0;
  vertical-align: top;
}

.ehunter_checkbox_container .fa {
  font-size: 16px;
  color: #ddd;
  vertical-align: top;
}

.ehunter_selectall_checkbox_container {
  display: inline-block !important;
  font-size: 13px;
  padding: 5px;
  border-radius: 3px;
  background-color: #fafafa;
  border: 1px solid #ddd;
  cursor: pointer;
  width: 115px;
  float: right;
  font-weight: 600;
  color: #777;
  margin-top: -9px;
  -webkit-transition: all .1s ease-in;
  -moz-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  transition: all .1s ease-in;
}

.ehunter_selectall_checkbox_container:hover {
  display: inline-block !important;
  border: 1px solid #d5d5d5;
  color: #555;
  box-shadow: 0 1px 3px rgba(0,0,0,0.07);
}

.ehunter_selectall_checkbox_container .fa {
  font-size: 16px;
  color: #ddd;
  margin-right: 10px;
}

/*
Fix the position of the number of results in the search
*/

#results_count {
  padding: 20px 0 !important;
}

/*
Sales Navigator
*/

#search-results-container .spotlights-count-wrapper {
  padding: 20px !important;
}

section.status-bar {
  line-height: 27px;
}
