#eh_bar_usage_warning {
  display: block !important;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 35px 30px 30px 30px;
  border-top: 5px solid #e86240;
  background: #fff;
  z-index: 11001;
  font-family: "Open Sans", Helvetica, Ubuntu, Arial, sans-serif;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  text-align: center;
  line-height: 21px;
  font-size: 14px;
}

#eh_bar_usage_warning .fa {
  color: #e86240;
  margin-right: 5px;
}

#eh_bar_usage_warning img {
  height: 20px;
  display: inline-block;
  margin-bottom: 20px;
}

#eh_usage_warning_form {
  max-width: 850px;
  margin: auto;
}

#eh_usage_warning_form button {
  border-radius: 3px;
  color: #666;
  background: #f4f4f4;
  border: 0;
  padding: 8px 12px;
  font-size: 14px;
  -webkit-transition: background-color 200ms ease-in-out;
  -moz-transition: background-color 200ms ease-in-out;
  -o-transition: background-color 200ms ease-in-out;
  -ms-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}

#eh_usage_warning_form button:hover,
#eh_usage_warning_form button:focus,
#eh_usage_warning_form button:active {
  background: #eee;
  text-decoration: none;
  outline: 0 !important;
  cursor: pointer;
  color: #555;
}

#eh_usage_warning_form label {
  color: #888 !important;
  cursor: pointer !important;
  margin-right: 20px !important;
}

#eh_usage_warning_dont_show {
  margin-right: 5px;
}
