.eh_checkbox_container {
  padding: 5px;
  margin: 0 6px 10px 0;
  border-radius: 3px;
  background-color: #fafafa;
  border: 1px solid #ddd;
  width: 36px;
  cursor: pointer;
}

.eh_checkbox_container:hover {
  border: 1px solid #d5d5d5;
  box-shadow: 0 1px 3px rgba(0,0,0,0.07);
}

.eh_checkbox_icon {
  height: 16px;
  margin: 0 7px 0 0;
  vertical-align: top;
}

.eh_checkbox_container .fa {
  font-size: 16px;
  color: #ddd;
}
