#eh_bar_usage_warning {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 30px;
  background: #fff;
  z-index: 11001;
  font-family: "Open Sans", Helvetica, Ubuntu, Arial, sans-serif;
  border-top: 1px solid #eee;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  text-align: center;
  line-height: 21px;
  font-size: 14px;
}

#eh_bar_usage_warning .fa {
  color: #e86240;
  margin-right: 5px;
}

#eh_bar_usage_warning img {
  height: 20px;
  display: inline-block;;
  margin-bottom: 20px;
}

.eh_usage_warning_container {
  max-width: 850px;
  margin: auto;
}

#eh_close_bar_usage_warning {
  color: #888;
  border-bottom: 1px dotted #999;
  cursor: pointer;
}
