#ehunter_search_selection_popup {
  font-family: "Lato", Helvetica, Ubuntu, Arial, sans-serif !important;
  background-color: #fff;
  border-radius: 5px;
  font-size: 14px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 125px;
  right: 20px;
  padding: 20px 15px 15px 15px;
  z-index: 11001;
  width: 300px;
}


#ehunter_search_selection_popup img {
  height: 18px;
}

#ehunter_search_selection_popup button {
  margin-top: 10px;
  border: 0;
  width: 100%;
  outline: none;
}

#ehunter_search_selection_popup button .fa {
  margin-right: 10px;
  width: 10px;
  display: inline-block;
}

#ehunter_search_selection_popup button:disabled {
  opacity: 0.8;
  background-color: #ff5722;
}

#ehunter_search_popup_close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 22px;
  line-height: 16px;
  padding: 10px;
  color: #888;
  transition: all 0.2s;
}

#ehunter_search_popup_close:hover {
  cursor: pointer;
  color: #555;
}

.ehunter_search_popup_drag {
  position: absolute;
  top: 11px;
  right: 45px;
  font-size: 16px;
  padding: 10px;
  color: #888;
}

.ehunter_search_popup_drag:hover {
  cursor: grab;
  cursor: -webkit-grab;
}

.ehunter_search_popup_drag:active,
.ehunter_search_popup_drag:focus {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

#ehunter_profile_selected {
  margin-top: 15px;
  margin-bottom: 12px;
  padding-bottom: 10px;
  font-size: 14px;
  border-bottom: 1px solid #eee;
}

#ehunter_search_status_list {
  overflow-y: scroll;
  max-height: 220px;
  padding-right: 10px;
}

#ehunter_search_status_list::-webkit-scrollbar {
  width: 8px;
}

#ehunter_search_status_list::-webkit-scrollbar-track {
  border-radius: 3px;
  background-color: #f3f3f3;
}

#ehunter_search_status_list::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #aaa;
}

#ehunter_search_status_list li {
  margin: 12px 0;
  font-size: 13px;
  line-height: 13px;
  color: #555;
}

#ehunter_search_status_list li span {
  float: right;
  color: #aaa;
}

#ehunter_search_status_list li span .fa {
  margin-left: 5px;
}

#ehunter_save_without_email_label {
  color: #aaa;
  font-size: 12px;
  margin-left: 5px;
  cursor: pointer;
  line-height: 12px;
  margin: 0;
}

#ehunter_save_without_email_label .fa {
  margin-right: 5px;
  color: #ddd;
  font-size: 13px;
}

#ehunter_search_selection_popup_account {
  color: #aaa;
  border-top: 1px solid #eee;
  padding-top: 12px;
  font-size: 12px;
  line-height: 22px;
}

#ehunter_search_selection_popup_account a {
  color: #aaa;
  border-bottom: 1px dotted #aaa;
  font-weight: normal;
}

#ehunter_search_selection_popup_account a:hover,
#ehunter_search_selection_popup_account a:active,
#ehunter_search_selection_popup_account a:focus  {
  text-decoration: none;
}

#ehunter_search_popup_error {
  padding-top: 15px;
}
