/**
 * Linkedin profile in popup
 **/


#ehunter_popup {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  padding: 30px 30px 15px 30px;;
}

.ehunter_popup_name {
  margin-top: -6px;
  font-size: 24px;
  line-height: 33px;
  font-weight: 700;
}

.ehunter_popup_email_intro {
  margin-top: 10px;
  font-size: 16px;
}

#ehunter_popup_content_container {
  height: 72px;
  color: #ff5722;
  font-weight: 600;
  font-size: 16px;
  margin: 15px 0 0 0;
  border: 1px solid #eee;
  background-color: #fcfcfc;
  padding: 25px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

#ehunter_popup_content_container .ehunter_popup_loader {
  margin-right: 10px;
  color: #888;
}

#ehunter_popup_content_container:hover {
  border: 1px solid #e7e7e7;
}

#ehunter_popup_content {
  float: left;
}

.ehunter_popup_results_message {
  color: #999;
  margin-top: 25px;
}

.ehunter_popup_results_link {
  color: #999;
  border-bottom: 1px dotted #999;
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  height: 23px;
}

.ehunter_popup_results_link:hover,
.ehunter_popup_results_link:focus,
.ehunter_popup_results_link:active
 {
  color: #999;
  text-decoration: none;
}

.ehunter_popup_results_link .fa-external-link {
  font-size: 10px;
  margin-left: 5px;
}

#ehunter_popup_error {
  font-size: 16px;
  line-height: 22px;
  margin: 20px 0 0 0;
}

.orange-btn {
  text-decoration: none;
  display: inline-block;
  padding: 12px 25px;
  color: #fff;
  background: #ff5722;
  -webkit-transition: background-color 200ms ease-in-out;
  -moz-transition: background-color 200ms ease-in-out;
  -o-transition: background-color 200ms ease-in-out;
  -ms-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.orange-btn:hover,
.orange-btn:focus,
.orange-btn:active {
  background: #db411a;
  color: #fff;
  text-decoration: none;
}

#ehunter_popup_ask_domain {
  display: none;
  padding-bottom: 10px;
}

#ehunter_popup_ask_domain_message {
  font-size: 16px;
  line-height: 26px;
  display: inline-block;
  margin-bottom: 30px;
}

#ehunter_popup_ask_domain_message strong {
  font-weight: 600;
}

#ehunter_popup_ask_domain_message a {
  color: #333;
  border-bottom: 1px dotted #333;
}

#ehunter_popup_ask_domain_message a:hover {
 text-decoration: none;
}

#ehunter_popup_ask_domain input[type="text"] {
  font-size: 16px;
}

#ehunter_popup_ask_domain_field {
  width: 250px;
  font-size: 16px;
  padding: 10px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
}

#ehunter_popup_ask_domain_field:focus, #ehunter_popup_ask_domain_field:active {
  outline: none;
  border: 1px solid #ff5722;
}

#ehunter_popup_ask_domain button {
  border: 0;
  margin-left: 5px;
}

#ehunter_popup_ask_domain button:focus, #ehunter_popup_ask_domain button:active {
  border: 0;
  margin-left: 5px;
  outline: 0;
}

#ehunter_popup_ask_domain button:disabled {
  opacity: 0.8;
  background: #ff5722;
}

#ehunter_popup_results_link_container,
#ehunter_popup_results_show {
  display: none;
  line-height: 23px;
}

#ehunter_popup_results_show hr {
  border: 0;
  height: 1px;
  background: #eee;
  display: block;
  margin: 25px 0 0 0;
}

#ehunter_popup_results_show p {
  font-size: 15px;
  margin: 25px 0 15px 0;
  color: #999;
}

#ehunter_popup_results_show p strong {
  font-weight: 600;
  color: #555;
}

.ehunter_popup_email_list .ehunter_popup_ask_domain,
.ehunter_popup_email_list .ehunter_popup_results_link {
  display: inline-block;
  margin: 6px 0 0 0;
}

.ehunter_popup_email_list {
  margin: 6px 0 0 0;
}

.ehunter_popup_ask_domain {
  color: #999;
  border-bottom: 1px dotted #999;
  display: inline-block;
  height: 23px;
}

.ehunter_popup_ask_domain:hover {
  text-decoration: none;
  cursor: pointer;
}

.ehunter_popup_separator {
  margin: 0 5px;
  color: #aaa;
}

.ehunter_popup_confidence {
  margin-top: 20px;
  color: #333;
}

.ehunter_popup_confidence_bar {
  width: 200px;
  height: 5px;
  background-color: #eee;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin-top: 8px;
}

.ehunter_popup_confidence_level {
  background-color: #ff5722;
  height: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

.ehunter_popup_signin_link {
  color: #888;
  margin-left: 15px;
  border-bottom: 1px dotted #888;
  text-decoration: none;
}

.ehunter_popup_signin_link:hover {
  color: #888;
  text-decoration: none;
}

#ehunter_copy_email_button, #ehunter_save_email_button {
  float: right;
  cursor: pointer;
  color: #888;
}

#ehunter_copy_email_button:hover,
#ehunter_save_email_button:hover {
  color: #555;
}

#ehunter_save_email_button {
  margin-right: 10px;
}

.ehunter_save_lead_loader {
  color: #aaa;
  float: right;
  margin-right: 10px;
}

#ehunter_email_action_message {
  font-weight: 500;
  font-size: 12px;
  color: #888;
  float: right;
  margin-right: 10px;
}

#ehunter_popup_account {
  color: #aaa;
  border-top: 1px solid #eee;
  margin-top: 25px;
  padding-top: 15px;
  font-size: 12px;
  height: 38px;
}

#ehunter_popup_account a {
  color: #aaa;
  border-bottom: 1px dotted #aaa;
}

#ehunter_popup_account a:hover {
  text-decoration: none;
}

.ehunter_save_other_email {
  margin-left: 10px;
  color: #ddd;
  cursor: pointer;
  transition: all 0.2s;
}

.ehunter_popup_email_list:hover .ehunter_save_other_email {
  color: #aaa;
}

.ehunter_save_other_email:hover {
  color: #999;
}

.ehunter_save_other_email_status,
.ehunter_save_other_email_icon {
  margin-left: 10px;
  color: #aaa;
}

#ehunter_popup_requests {
  line-height: 24px;
}

.ehunter_list_select {
  background: 0;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 300px;
  -webkit-appearance: menulist-button;
  text-indent: 0;
  font-size: 12px;
  height: 24px;
  color: #888;
  transition: all 0.2s;
}

.ehunter_list_select:hover {
  border: 1px solid #d2d2d2;
  cursor: pointer;
  color: #333;
}

.ehunter_list_select:focus,
.ehunter_list_select:active  {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #ff5722;
  color: #333;
}
