body {
  width: 600px;
  margin: 0;
  font-family: "Open Sans", Helvetica, Ubuntu, Arial, sans-serif;
  font-size: 14px;
}

#domain-search {
  display: none;
}

a:focus, a:active {
  outline: none;
}
