body {
  width: 600px;
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
}

#domain-search {
  display: none;
}

a:focus, a:active {
  outline: none;
}

.error {
  display: none;
  margin: 50px 20px;
}
